<!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/Harry-Potter-1-.jpg" alt="" class="clip-polygon">



<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sketchy-avatar.png" /> -->



<!-- user login  -->
<div class="container-fluid p-0">
    <div class="heightfull">
        <div class="back_color "></div>
        <div class="logoclass col-md-12 row">
            <img class="logoimg mt-3" src="../../../../assets/images/Wythe-Veterinary_logo.png">
        </div>
        <div class="contentbox col-md-10 pt-3">
            <div class="content pt-5">
                <div class="row col-md-12 p-0 m-0">
                    <div class="leftimg col-md-6 p-0 align-self-center">
                        <img class="leftimg" src="../../../../assets/images/undraw_Camera_re_cnp4.png">
                    </div>
                    <div class="col-md-5 p-0">
                        <div class="form_outer">
                            <div class="inner_form">
                                <div class="formcontent text-center">
                                    <p class="welcome">Welcome Back</p>
                                   
                                        <p class="log-in">Log In</p>
                                        <!-- <span class="line position-absolute"></span> -->
                                   
                                    
                                  
                                </div>
                                <div class="inputs">
                                    <form >
                                        <div class="form-group mt-3 mb-0">
                                            <label>Email</label>
                                            <input type="text" class="form-control login_input" id="exampleInputEmail1"  placeholder="email">
                                            
                                          </div>

                                          <div class="form-group mb-3">
                                            <label >Password</label>
                                            <input type="password" class="form-control login_input" id="exampleInputEmail1"  placeholder="***********">
                                            
                                          </div>
                                          <div class="pt-3">
                                            <button class="btn themeBtn w-100" (click)="login()">LOG IN</button>
                                          </div>
                                          <p class="forgot">Forgot Password?</p>
                                          
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- user  login end -->