.back_color{
    background: #FAFAFA;
    height: 100%;
    position: absolute;
    width: 50%;
  }
  .heightfull {
    height:100vh;
  }
  .logoimg {
    height: 65px;
    width: 65px;
  }
  .logoclass {
    justify-content: center;
      padding: 0;
      margin: 0;
  }
  .leftimg{
    height: 360px;
    width: 397px;
    text-align: end;
  }
  .inner_form {
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 40px 55px 36px 55px;
    background: #FFFFFF;
    box-shadow: 0 2px 44px 0 rgba(0,0,0,0.20);
    }
  
  .contentbox {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .themeBtn {
    background: #0C479D;
    color: white;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .login_input {
    background: #EEEEEE;
    padding: 18px;
    font-size: 14px;
    border-radius: 8px;
  }
  .forgot {
    text-align: center;
    padding-top: 32px;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
  }
  .welcome {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
  }
  .log-in {
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    
  }
  @media(max-width:767px) {
    .leftimg {
      display:none;
    }
  }

