
@import"../../../assets/styles/variable.scss";
* {
  font-family: 'Lato', sans-serif;
}

#right_side{
height: 100vh;
width: 100%;
margin: 0;
padding: 0;
margin-top: 60px;
}
.left-inner li {
  list-style: none;
  cursor: pointer;
}
.left_logo{
  position: absolute;
  left: 0;
  width: 114px;
  margin-top: 30px;
  margin-left: 30px;
  
}
.left_curve {
  position: absolute;
  right: 0;
  height: 100%;
}
.header li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  color:$themeCL;
  font-size: 14px;
  
}
li.active {
  background-color: $btn_bg_cl;
  color:white !important;
  border-radius: 10px;
}

.submit_btn {
  width: 100px;
  height: 35px;
  padding: 6px;
  background-color: $btn_bg_cl;
  color:$btn_cl;
  border-radius: 25px;
  border: none;
}
.submit_btn:hover {
  background-color: $sub_btn_hovar
}
.span_box{
  display: block;
  width: 70%;
}
.welcome {
  color: #000000;
  font-weight: bold;
}
// #login_bg_left {
//   background-image: url('../../../assets/images/login_bg.jpg');
//   background-size: cover;
//   width: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
// }
.login_type_inner {
  font-size: 14px;
  color: white;
  padding: 10px;
  font-size: 20px;
  list-style: none;

}
.login_type_inner_img {
  background-color: white;
  padding: 10px;
  margin: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.login_type_inner_img .active {
  background-color: yellow !important;
}
img.login_type_inner_img.activeType {
  background-color:#e3bcb8;
}
.leftbtns {
  top: 40%;
  left: 35%;
  padding: 0;
  margin: 0;

}
.leftbtns li {
  cursor: pointer;
  display:block;
}
.left-inner {
  margin-top: 100px;
  margin-left: 100px;
}

.circle {
  height: 60px;
  width: 60px;
  background: white;
  top: 50%;
  right: -24px;
  border-radius: 40px;
  text-align: center;
  -webkit-box-align: revert;
  align-items: revert;
  align-content: revert;
  line-height: 57px;
  font-size: 35px;
  font-weight: lighter;
}
.circle_mobile {
  height: 60px;
  width: 60px;
  background: white;
  top: 97%;
  left: 45%;
  border-radius: 40px;
}
#arrow {
     height: 14px;
    margin-right: 15px;
    padding: 0;
}
#arrow_mobile {
  transform: rotate(90deg);
  height: 14px;
  margin-right: 15px;
  left: 25%;
  top: 25%;
  position: absolute;
}

.login_form {
  position: relative;
  top: 0;
  z-index: 0;
}


@media (max-width: 767px){
  #right_side {
 height:100%;
  }

  // #login_bg_left {
  //   background-image: url(../../../assets/images/login_bg.jpg);
  //   height: 100%;
  //   background-size: cover;
  //   width: 100%;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   clip-path: none;
  // }

  .circle {
    height: 56px;
    width: 61px;
    background: white;
    bottom:0;
    left:50%;
    border-radius: 40px;

  }
  #arrow {
    height: 14px;
      margin-right: 15px;
      padding: 0;
      rotate: (90deg);
  }
}


