@import "../../../../../assets/styles/variable.scss";

.card-header-icon {
    text-align:right;
}
.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
p {
    margin: 0;
}
.card .card-icon {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $orange, $orange);
    box-shadow: 0 4px 20px 0 rgba(255, 129, 55, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.card .card-icon2 {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $green, $green);
    box-shadow: 0 4px 20px 0 rgba(64, 161, 68,0.14), 0 7px 10px -5px rgba(13, 77, 15, 0.4);
}
.card .card-icon3 {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -30px;
    margin-right: 15px;
    float: left;
    background: linear-gradient(60deg, $light-blue, $light-blue);
    box-shadow: 0 4px 20px 0 rgba(11, 210, 224, 0.14), 0 7px 10px -5px rgba(23, 166, 223, 0.4);
}
.card-stats .card-header.card-header-icon i {
    font-size: 22px;
    line-height: 35px;
    width: 40px;
    height: 24px;
    text-align: center;
}
.card-category {
    color: #999;
p {
    font-size: 14px;
}
h3 {
    font-size: 16px;
}
}




.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background: $light-blue;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $light-blue;
}
.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 15px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}

.card-title, .text-left{
    font-size: 20px;
    color:#000000;
    font-weight:700;
}


.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheading {
color: $light-blue;
font-size: 15px;
font-weight: bold;
}
.tableheadingnetwork {
    color: $green;
    font-size: 18px;
    font-weight: bold;
    }
    .tablenetworkheading {
        background-color: $green;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $green;
    }

.table>thead>tr>th {
    border-bottom-width: 1px;
}
.table thead th {
    border-bottom: 1px solid #dee2e6;
    border-top:none;
}
.table>tbody>tr>td {
    color:#777777;
    font-size: 14px;
    font-weight: 400;
}
.tablename {
    font-size: 15px!important;
    color:white;
}
.tablesubname {
    font-size: 12px!important;
}
.print {
    background: rgba(26, 255, 0, 0.3);
    font-size: 10px;
    border-radius: 18px;
    color: rgb(119, 119, 119);
    padding: 6px 38px 7px 38px;

}
.addCandidateBtn {
    background-color: $light-blue;
    color:white;
}

.table td:first-child {
    border-top:none;
}