<div class="col-md-12 pt-3">
    <div class="card table_outer">
        <div class="card-header card-header-primary">
            <h4 class="tablename">Potential Candidates </h4>
            <p class="tablesubheading">All canditates</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="tableheading">
                        <tr>

                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>

                        </tr>
                        <tr>

                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>

                        </tr>
                        <tr>

                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>

                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-sm-12 col-lg-3">
                    <button class="btn themeBtn w-100" routerLink="/main/admin/add-manager">+ Add New Manager</button>
                </div>
            </div>
        </div>
    </div>
</div>