@import "../../../../../assets/styles/variable.scss" ;
.tableheading {
    color: $light-blue;
    font-size: 18px;
    font-weight: bold;
    }
    .tableheadingnetwork {
        color: $green;
        font-size: 18px;
        font-weight: bold;
        }
        .tablenetworkheading {
            background-color: $green;
        }
    
    .table>thead>tr>th {
        border-bottom-width: 1px;
    }
    .table thead th {
        border-bottom: 1px solid #dee2e6;
        border-top:none;
    }
    .table>tbody>tr>td {
        color:#777777;
        font-size: 15px;
        font-weight: 400;
    }
    .card-header-primary {
        border-radius: 3px;
        padding: 15px;
        margin: -20px 15px 0px 15px;
        background: $dark-blue;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px $dark-blue;
    }
    .card-header {
        color:#FFFFFF;
        font-weight: 500;
        p {
            font-size: 14px;
            margin-bottom:0;
        }
        h4 {
           font-size: 20px;
        }
    }

    .tablename {
        font-size: 15px !important;
        color:white;

    }
    .tablesubheading {
        font-size: 13px!important;
        color:white;
    }