<div class="container-fluid all_scroll " *ngIf="isLoading == false">
  <!-- <app-spinner *ngIf="isLoading" [type]="'normal'"  ></app-spinner> -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center p-2">
      <h4>Hi, {{Name}}</h4>
    </div>
  </div>
  <div>
    <div class="main_inner">
      <div class="row justify-content-between pl-3 pr-3 pt-3 m-0">
        <p class="label_text">New message</p>
        <p *ngIf="MessageList?.length > 0" class="label_all"(click)="navigateViewAll('MESSAGE')">View all</p>
      </div>
      <p class="nodata" *ngIf="MessageList?.length == 0"> No new message</p>
      <div class="custom_line p-3" *ngFor="let item of MessageList" style="cursor: pointer;" (click)="NavigateMessage(item)">

        <div class="d-flex justify-content-between mt-2 ">
          <div class="d-flex">
            <img class="icon_User align-self-center" [src]="item?.senderProfilePic?item.senderProfilePic:'../../../../assets/images/no_user.png'">
            <p class="ml-2 name align-self-center nameLabel">{{item?.senderFirstName}}</p> <br>

          </div>
          <p class="ml-2 name align-self-center dateLabel">{{item?.humanDate}}</p>
        </div>
        <p class="messageLabel mb-4" *ngIf="ismessageImg == false">{{item.message}}</p>
        <p class="messageLabel mb-4" *ngIf="ismessageImg == true"><img class="messageimage" [src]="item.message"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6 col-sm-12">
        <div class="main_inner mt-4">
          <div class="row justify-content-between pl-3 pr-3 pt-3 m-0">
            <p class="label_text">New matches</p>
            <p *ngIf="newMatch?.length > 0" class="label_all" (click)="navigateViewAll('MATCH')">View all</p>
          </div>

          <p class="nodata" *ngIf="newMatch?.length == 0"> No new matches</p>
          <div class="custom_line p-3" *ngFor="let item of newMatch">
            <div class="d-flex justify-content-between mt-2 ">

              <div class="d-flex" *ngIf="newMatch.length > 0">
                <img class="icon_User align-self-center"
                  [src]="item?.profilePic?item.profilePic:'../../../../assets/images/no_user.png'" (click)="viewProfile(item,'6')">
                <p class="ml-2  align-self-center" style="font-size: 14px; color: #444444; font-weight: 500;" (click)="viewProfile(item,'6')">
                  {{item?.fullName}}</p> <br>
              </div>
              <br>

            </div>
            <p class="align-self-center new_match">Your new match</p>

          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-sm-12">
        <div class="main_inner mt-4">
          <div class="row justify-content-between pl-3 pr-3 pt-3 m-0">
            <p class="label_text">Total favorite</p>

            <p *ngIf="totalFav > 0" class="label_all" (click)="navigateViewAll('FAV')">View all</p>
          </div>
          
          <div class="row p-0 m-0 ml-4 mb-4 align-items-center">
            <span class="heart_outer">
              <img class="heart_icon" src="../../../assets/images/heart_select.png" alt="">
            </span>
            <p class="fav_count">{{totalFav}}</p>
          </div>


        </div>
      </div>
    </div>
    <div class="main_inner all_blog_">
      <div class="row justify-content-between pl-3 pr-3 pt-3 m-0">
        <p class="label_text">Blog summary</p>
        <p class="label_all"  *ngIf="bloglist?.length > 0"
        (click)="navigateViewAll('BLOG')" >View all</p>
      </div>
      <p class="no_blog" *ngIf="bloglist?.length == 0"> No recent blogs </p>
      <div class="row p-2 m-0" *ngIf="bloglist?.length > 0">
        <div class="col-lg-4 col-md-12 mt-3" *ngFor="let item of bloglist">
          <div class="card mb-2">
            <div>
              <img class="d-block mb-1" style="cursor: pointer;width:100%"
                src="{{item?.image?item.image:'../../../assets/images/no_user.png'}}">
            </div>
            
    
            <div class="p-3 pt-1">
              <p class="mb-1 phead">{{item?.title}} <span *ngIf="item.userId == userdetail?.userId" class="delete"> <img  (click)="deleteblogModal(item.blogId,blogModal,del_tn)"  #del_tn  class="delet_btn" src="../../../assets/images/delete_icon_1.png" alt=""></span> <span *ngIf="item.userId == userdetail?.userId"><button class="al_btn edit_Btn"  [routerLink]="['/main/blog/edit-blog']"  skipLocationChange [queryParams]="{id:item.blogId}" >EDIT</button></span>  </p> 
              <div class="d-flex justify-content-between">
                <span><img src="../../../assets/images/clock.png">
                  <span class="date_ ml-2">{{item?.humanDate}}</span>
                </span>
                <span><img src="../../../assets/images/user_blog.png">
                  <span class="date_ ml-2">{{item?.fullName}}</span>
                </span>
                <span></span>
              </div>
              <p [innerHTML]="item?.bio"  class="text-left mt-2 blog_desc "></p>
              <button class="btn read_btn mt-3 ml-0"  (click)="navEditBlog()" (click)="navigateReadMore(item.blogId)">Read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>






<div *ngIf="isLoading == true">
  <div class="col-lg-12 col-md-12 p-2" class="d-flex justify-content-center">
    <h2 class="heading_dummy m-3"></h2>
  </div>
  <div class="main_inner">
    <div class="row justify-content-between pl-3 pr-3 pt-3 m-0">
      <p class="label_text_dummy"></p>
      <p class="label_dummy"></p>
    </div>

    <div class="custom_line p-3">
      <div class="d-flex justify-content-between mt-2 ">
        <div class="d-flex">
          <img class="d-block icon_User align-items-center mb-2" src="../../../assets/images/no_user.png">
          <p class="ml-2 name align-self-center nameLabel"></p> <br>
        </div>
        <p class="ml-2 name align-self-center dateLabel"></p>
      </div>
      <h2 class="ml-2 mt-3 name align-self-center dateLabel"></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-6 col-sm-12" *ngFor="let item of dummyCard">
      <div class="main_inner mt-4">
        <div class="row justify-content-between pl-3 pr-3 pt-3 m-0">
          <p class="label_text_dummy"></p>
          <p class="label_dummy"></p>
        </div>

        <p class="p_in ml-2 mt-3"></p>
        <p class="p_in mr-2 mt-3 float-right"></p>
        <div class="custom_line p-3">
          <div class="d-flex justify-content-between mt-2 ">

            <div class="d-flex">
              <img class="icon_User align-self-center" src="../../../../assets/images/no_user.png">
            </div>
            <br>
          </div>
          <h2 class="ml-2 mt-3 name align-self-center dateLabel"></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="main_inner mt-4">
    <div class="row justify-content-between pl-3 pr-3 pt-3 m-0">
      <p class="label_text_dummy"></p>
      <p class="label_dummy float-right"></p>
    </div>
    <div class="row p-2 m-0">
      <div class="col-lg-4 col-md-12 mt-3" *ngFor="let item of dummyBlog">
        <div class="card mb-2">
          <div>
            <img class="d-block mb-1" style="cursor: pointer;height:303px;width:100%"
              src="../../../assets/images/no_user.png">
          </div>
          <div class="p-3 pt-1">
            <p class="mb-1 label_text_dummy"></p>
            <div class="d-flex justify-content-between">
              <p class="date_ ml-2"></p>
              <p class="date_ label_dummy float-right ml-2"></p>
            </div>
            <h1 style="font-size:20px;color:rgb(119, 119, 119);" class="text-left mt-2"></h1>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <h3 class="mt-3"></h3>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>


<!-- </div> -->

<ng-template #blogModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
    </h4>
    <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container text-center">
      <div class="content">
        <p class="sub_text">Are you sure you want to delete the blog!</p>
      </div>
      <div class="row justify-content-center">
        <button class="al_btn _sub_btn" (click)="modal.dismiss('Cross click')" >CANCEL</button>
        <button class="al_btn  _sub_btn" (click)="RemoveBlog()" >DELETE</button>
      </div>
    </div>
  </div>
 
</ng-template>