<div class="content">
    <div class="container-fluid">
      <div class="p-0 m-0">
        <!-- <app-view-reported [itemreceived]="dataList"></app-view-reported> -->
  
        <div class="col-md-12 p-0 mt-5">
          <div class="card table_outer">
            <div class="card-header card-header-primary">
              <h4 class="tablename">Potential Candidates</h4>
              <p class="tablesubname">All canditates</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="tableheading">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Assessment</th>
                      <th scope="col">Status</th>
                      <th scope="col">Last Activity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Vernon Lynch</td>
                      <td>efipin@si.io</td>
                      <td>Technical</td>
                      <td>Not completed</td>
                      <td>4 sec ago</td>
                      <td ><span class="print">Print Assessment</span></td>
                    </tr>
                    <tr>
                      <td>Eva Gill</td>
                      <td>lelmespis@lod.net</td>
                      <td>Customer Service</td>
                      <td>Not completed</td>
                      <td>5 dec 2020</td><td ><span class="print">Print Assessment</span></td>
                    </tr>
                    <tr>
                      <td>Polly Douglas</td>
                      <td>jet@ofbaot.org</td>
                      <td>Technical</td>
                      <td>Completed</td>
                      <td>4 dec 2020</td>
                      <td ><span class="print">Print Assessment</span></td>
                    </tr>
  
                    <tr>
                      <td>Bill Dean</td>
                      <td>danacli@keme.co.uk</td>
                      <td>Customer Service</td>
                      <td>Completed</td>
                      <td>3 dec 2020</td>
                      <td ><span class="print">Print Assessment</span></td>
                    </tr>
  
                    <tr>
                      <td>Bill Dean</td>
                      <td>veva@cuadi.org</td>
                      <td>Technical</td>
                      <td>Completed</td>
                      <td>2 dec 2020</td>
                      <td ><span class="print">Print Assessment</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="col-sm-12 col-lg-3 p-0">
                  <button class="btn addCandidateBtn w-100 ">Add New Candidate</button>
              </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-12 p-0">
          <div class="card table_outer">
            <div class="card-header card-header-primary tablenetworkheading">
              <div class="row">
                <h4 style="font-size: 15px;padding:7px" class="col ml-2">Network Update</h4>
                <p style="font-size: 15px;padding:7px" class="col text-right mr-2">Add Message</p>
              </div>
  
              <!-- <p>All canditates</p> -->
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  
                  <tbody>
                    <tr>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  