<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container h-100"> 

    <!-- ============================================================== -->
    <!-- Topbar - style you can find in header.scss -->
    <!-- ============================================================== -->
  
    
    <!-- ============================================================== -->
    <!-- End Topbar - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="!mobileQuery.matches"   >
            
                <!-- <app-sidebar   [isMobileActive]="isMobile" (messageEvent)="receiveMessage($event)" (click)="snav.close()"></app-sidebar>
               
                <app-sidebar  (messageEvent)="receiveMessage($event)"></app-sidebar> -->
               
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <mat-sidenav-content class="page-wrapper">
                 
                <div class="page-content " >
                    <!-- <app-spinner *ngIf="isLoading = true"></app-spinner> -->
                    <!-- <div class="row m-0 p-0 w-100">
                        <div class="col-md-5 col-lg-3 p-0">
                            <a class="">
                                <span fxFlex></span>
                            </a>
                            <a style="cursor: pointer;" (click)="snav.toggle()" (click)="WindowResize($event)" value="sidebarclosed" ><div class="fa fa-chevron-right rotate"></div></a>
                            <span class="label_name ml-2">{{headerTitle}}</span>
                        </div>
                        <div class="col-md-7 col-lg-9 p-0 d-flex rightdiv">
                            <div class="row">
                            <span class="headname align-self-center"> Guest </span>
                             <span class="inner_swtich mt-1 mr-1 ml-1"><p><ui-switch size="small" (click)="changeToggleType()" color="#3d5362" [(ngModel)]="isPodcast"></ui-switch></p></span>
                            <span class="headname align-self-center mr-2"> Podcaster </span>
                        </div>
                            <span><img class="header_img mr-3 ml-3" src="{{profilePic?profilePic:'../../../assets/images/no_user.png'}}"></span>
                        
                           <span class="usrname align-self-center">{{Name ? Name:'--'}}</span>
                           
                        </div>
                       
                    </div> -->
                    <!-- {{page.activatedRouteData.state}} -->
                    <main [@routerTransition]="page.activatedRouteData.state">
                        <router-outlet #page="outlet"></router-outlet>
                      </main>

                      <!-- <main>
                        <router-outlet #page="outlet"></router-outlet>
                      </main> -->
                    
                </div>    
               
        </mat-sidenav-content>
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
    </mat-sidenav-container>
</div>