
<div class="col-md-12">
    <div class="card table_outer">
       <div class="card-header card-header-primary">
         <h4>Add Managers </h4>
         <p>Complete the profile</p>
       </div>
       <div class="card-body">
            <div class="formout">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="imageUpload" src="../../../../assets/images/undraw_Camera_re_cnp4.png">
                    </div>
                    <div class="col-md-9 row m-0">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label >First Name</label>
                                <input type="text" class="form-control "  placeholder="first name" value="Marvin">
                                
                              </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label >Last Name</label>
                                <input type="text" class="form-control "  placeholder="last name" value="Marvin">
                                
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label >Phone Number</label>
                                <input type="text" class="form-control "  placeholder="phone number" value="(912) 804-9710">
                                
                              </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label >Email</label>
                                <input type="text" class="form-control "  placeholder="Enter email" value="monroke@guggema.co.u
                                ">
                                
                              </div>
                        </div>
                    </div>
                </div>
               <div class="row col-md-12 m-0 p-0">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label >Title</label>
                        <input type="text" class="form-control "  placeholder="Enter title" value="A Sure Way To Get Rid Of Your Back Ache Problem">
                        
                      </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label >Facility</label>
                        <input type="text" class="form-control "  placeholder="Enter email" value="5655.00">
                        
                      </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label >Department</label>
                        <input type="text" class="form-control "  placeholder="Enter email">
                        
                      </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label >Salary</label>
                        <input type="text" class="form-control "  placeholder="salary">
                        
                      </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label >Create Password</label>
                        <input type="text" class="form-control "  placeholder="password">  
                      </div>
                </div>
               </div>
               <div class="col-lg-3 col-sm-12 mt-4 mb-4">
                   <button class="btn w-100 themeBtn">Save Manager Profile</button>
               </div>
            </div>
       </div>
    </div>
   </div>