.table_outer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-header-primary {
    border-radius: 3px;
    padding: 15px;
    margin: -20px 15px 0px 15px;
    background: #0C479D;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #0C479D;
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.card-header {
    color:#FFFFFF;
    font-weight: 500;
    p {
        font-size: 14px;
        margin-bottom:0;
    }
    h4 {
       font-size: 20px;
    }
}

.card-body {
    padding: .9375rem 20px;
    position: relative;
}

.tableheading {
color:#0C479D;
font-size: 18px;
font-weight: bold;
}

.table>thead>tr>th {
    border-bottom-width: 1px;
}
.table thead th {
    border-bottom: 1px solid #dee2e6;
    border-top:none;
}
.table>tbody>tr>td {
    color:#777777;
    font-size: 15px;
    font-weight: 400;
}
.imageUpload {
    height: 200px;
    width: 200px;
}