@import "./assets/styles/variable.scss";

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #3b5362 !important;
}
html,body{
	height: 100%;
	scroll-behavior: smooth;
}
:focus {
    outline: 0 !important;
}
.hasError, .has-error {
  position: relative;

  input {
    border-color: red;
  }
}


//------------ WYTHE ----------------//

/* form input */
.form-control {
  background: #EEEEEE;
  padding: 19px;
  border-radius: 8px;
  font-size: 13px;
  border-color:transparent;
}
label {
  color: #000000;
    font-size: 14px;
    font-weight: 500;
}

// BUTTON
.themeBtn {
  background: #0C479D;
  color: white;
  padding: 11px;
  border-radius: 8px;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
}
